# Ignore node_modules locally (since we want it only in the container)
node_modules
pnpm-lock.yaml

# Ignore VS Code settings
.vscode
.devcontainer

# Ignore Docker artifacts
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.*.yml
docker-compose.yml

.devcontainer
.github

# Ignore Git files
.git
.gitignore

# Ignore logs and temp files
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log
.DS_Store
tmp/
dist/
coverage/
.env
